# Dependencies
node_modules

# Nuxt build / cache
.nuxt
.output
dist
.cache

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
